@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* html{
    font-size: 62.5%;
} */




table{
    width: 70rem;
    box-shadow: 0 0 10px rgba(0,0,0,0.204);
    border-radius: 10px;
    border-collapse: collapse;
    margin: auto;

}

th{
    padding: 1rem;
    background-color: black;
    color: white;
    text-align: center;

}

th:first-of-type{
    border-top-left-radius:10px;
   
}

th:last-of-type{
    border-top-right-radius:10px;
}

thead tr{
    text-align: center;
}

tr:hover{
    background-color: rgb(213,213,213);
}

td{
    padding: 1rem;
}


